import { useEffect, useState } from 'react'

const use{{pascalCase name}} = () => {
  return {}
}

const {{pascalCase name}} = () => {
  const { } = use{{pascalCase name}}()

  return (
    <>
      <h1>{{pascalCase name}}</h1>
    </>
  )
}

export default {{pascalCase name}}
